.title-slide {
  text-align: center;
}

.alert {
  color: red;
}

.ref {
  font-size: 60%;
  max-width: 66%;
  text-align: right;
  padding: 0 0 0 33%;
  position: absolute;
  bottom: 7%;
  right: 7%;
}

.cite {
  font-size: 80%;
  color: gray;
}

.caption {
  font-size: 75%;
  text-align: "center";
}

.left-col50 {
      width: 49%;
      float: left;
}

.right-col50 {
      width: 49%;
      float: right;
}

.left-col33 {
      width: 33%;
      float: left;
}

.right-col66 {
      width: 66%;
      float: right;
}

.left-col66 {
      width: 66%;
      float: left;
}

.right-col33 {
      width: 33%;
      float: right;
}
